*, ::after, ::before {
  box-sizing: border-box;
}

@-ms-viewport {
    width: device-width
}

footer, header, main, nav, section {
  display: block;
}

#root {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #777777;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom:.5rem;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
}

p, ul, ol, li {
  margin-top: 0;
  margin-bottom: 1rem; 
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}

button {
  border-radius: 0;
}

button:focus {
  outline: none;
  outline: none;
}

/* .collapse:not(.show) {
  display: none
} */

@media (width >= 48rem /* 768px */) {
  .md\:hidden {
    display: none;
 }
}

nav {
  background: transparent;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;

  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 15px;   
    padding-left: 15px; 
    margin-right: auto;
    margin-left: auto;
  }

  .navbar-brand-logo {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 1.25rem;
    line-height: inherit;
  }

  .navbar-toggler {
    cursor: pointer;
    color: rgba(0, 0, 0, .1);
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
  }
  
  .navbar-links-center-container {
    display: none;
  }

  @media (min-width: 768px) {
    .navbar-container {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    nav {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
    .navbar-links-center-container {
      display: flex;
      flex-direction: row;
      flex-basis: auto;
      flex-grow: 1;
      flex-wrap: wrap;
      align-items: center;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
      a {
        margin-right: 45px;
      }
    }
    .navbar-toggler {
      display: none;
    }
  }

  @media (min-width: 1200px) {
    .navbar-container {
      max-width: 1140px;
    }
  }

  @media (max-width: 991px) {
    .navbar-container {
      padding-left: 15px;
      padding-right: 15px;
    }

    .navbar-toggler {
      border-width: medium;
      border-image-outset: 0;
      border-image-repeat: stretch;
      border-image-slice: 100%;
      border-image-source: none;
      border-image-width: 1;
      border-radius: 0px;
      padding: 0px;
      margin-top: 27px;
      margin-bottom: 23px;
    }
  }
}

